Package: xfce4-cpugraph-plugin-dbgsym
Source: xfce4-cpugraph-plugin
Version: 1.2.10-1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Debian Xfce Maintainers <debian-xfce@lists.debian.org>
Installed-Size: 884
Depends: xfce4-cpugraph-plugin (= 1.2.10-1)
Section: debug
Priority: optional
Multi-Arch: same
Description: debug symbols for xfce4-cpugraph-plugin
Build-Ids: c6e744098b765f5444a0cdcd157cb3ac9e01e989
